@page {
  size: letter;
  margin: 0.5in;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 10.5pt;
  line-height: 1.4;
  color: #333;
}

header#title-block-header {
  display: none;
}

h1 {
  font-size: 24pt;
  margin-bottom: 0.1em;
  color: #1a1a1a;
}

h2 {
  font-size: 14pt;
  border-bottom: 1.5px solid #333;
  padding-bottom: 0.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #1a1a1a;
}

h3 {
  font-size: 11pt;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  color: #1a1a1a;
}

p {
  margin: 0.3em 0;
}

ul {
  margin: 0.3em 0;
  padding-left: 1.5em;
}

li {
  margin-bottom: 0.2em;
}

a {
  color: #0066cc;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0.8em 0;
}

strong {
  color: #1a1a1a;
}

code {
  font-size: 9.5pt;
}
