@page {
  size: letter;
  margin: 0.75in 0.75in;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 10.5pt;
  line-height: 1.4;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Bitstream Vera Serif";
  font-size: 36pt;
  margin-top: 0;
  margin-bottom: 0.1em;
  padding: 0;
  color: #1a1a1a;
  break-after: avoid;
}

h2 {
  font-family: "Bitstream Vera Serif";
  font-size: 10pt;
  text-transform: uppercase;
  border-bottom: none;
  padding: 0;
  margin: 2em 0 0;
  color: #0066cc;
  break-after: avoid;
}

h3 {
  font-family: "Bitstream Vera Serif";
  font-size: 12pt;
  text-transform: uppercase;
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  color: #1a1a1a;
  break-after: avoid;
}

h3 em {
  font-style: italic;
  font-weight: normal;
}

h4 {
  font-family: "Bitstream Vera Serif";
  font-size: 8pt;
  text-transform: uppercase;
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  color: #1a1a1a;
  break-after: avoid;
}

.contact-line p {
  margin: 0;
  padding: 0;
}

p {
  margin: 0.3em 0;
}

small {
  font-size: 9pt;
  color: #555;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  break-after: avoid;
}

ul {
  margin: 0.3em 0;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}


li {
  /*margin: 0 0 0.2em;*/
  /*padding: 0;*/
}

a {
  color: #0066cc;
  text-decoration: none;
}

hr {
  display: none;
}

strong {
  color: #1a1a1a;
}

code {
  font-size: 9.5pt;
}
